.App {
  text-align: center;
}

.navLink {
  color: white;
  text-decoration: none;
  /* padding-left:100%; */
}

.accountLink {
  color: white;
  text-decoration: none;
  justify-content: right;
  /* padding-left:5px; */
}

.companyName {
  text-align: left;
}

.login-form {
  justify-content: center;
  min-height: 90vh;
}
.button-block {
  width: 100%;
}
.login-background {
  justify-content: center;
  min-height: 30vh;
  padding: 50px;
}

.loginHeader{
  text-align: center;
}



